body {
  background-image: url(https://img.freepik.com/free-vector/gradient-geometric-design-dark-background_23-2148425667.jpg), url(https://img.freepik.com/free-vector/gradient-geometric-design-dark-background_23-2148425667.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
